.teams-container {
    display: fill;
    flex-direction: column;
    align-items: center;
    border-style: red;
    padding-left: 90px;
  }
  
  .teams-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
  }

  .team-card {
    border: 2px solid red;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
    display: inline-block;
    width: 200px;
  }