.tracks-container {
    background-color: black;
}


.track-card h2 {
    color: red
}


.track-card img {
    background-color: whitesmoke;
}


.track-card p {
    color: gold
}

.calendar img{
    margin-bottom: 20px;
    width: 1400px;
    height: 500px; 
}